<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ignorant.chat.mapper.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.ignorant.chat.pojo.Account" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="DATE" />
    <result column="lastEditData" property="lastEditData" jdbcType="DATE" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="lastEditUser" property="lastEditUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryAccount" parameterType="String" resultMap="BaseResultMap">
	SELECT
		userId,
		password,
		createDate,
		lastEditData,
		lastEditUser
	FROM
		`account`
	WHERE
		userId = #{userId}
  </select>
</mapper>