<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ignorant.chat.mapper.MsgRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ignorant.pojo.MsgRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="from" property="from" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="DATE" />
    <result column="lastEditData" property="lastEditData" jdbcType="DATE" />
    <result column="createUser" property="createUser" jdbcType="VARCHAR" />
    <result column="lastEditUser" property="lastEditUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="addMsg" useGeneratedKeys="true"  parameterType="com.ignorant.pojo.MsgRecord">
	INSERT
		INTO
			msg_record(
				userId,
				`from`,
				`type`,
				content,
				createDate,
				lastEditData,
				createUser,
				lastEditUser
			)
		VALUES(
			#{userId},
			#{from},
			#{type},
			#{content},
			#{createDate},
			#{lastEditData},
			#{createUser},
			#{lastEditUser}
		);
  </insert>
  <select id="queryMsg" resultType="java.util.List" resultMap="BaseResultMap">
	(
		SELECT
			id,
			userId,
			`from`,
			`type`,
			content,
			createDate,
			lastEditData,
			createUser,
			lastEditUser
		FROM
			msg_record
		WHERE
			userId = #{userId}
			AND `from` = #{from}
			AND id >= #{limitId}
	)
	UNION(
	SELECT
		id,
		userId,
		`from`,
		`type`,
		content,
		createDate,
		lastEditData,
		createUser,
		lastEditUser
	FROM
		msg_record
	WHERE
		userId = #{from}
		AND `from` = #{userId}
		AND id >= #{limitId}
	)
	ORDER BY
	lastEditData LIMIT #{limit}
  </select>
  <!-- Abandon -->
  <select id="queryMsgBunch" resultType="java.util.List" resultMap="BaseResultMap">
	(
		SELECT
			id,
			userId,
			`from`,
			`type`,
			content,
			createDate,
			lastEditData,
			createUser,
			lastEditUser
		FROM
			msg_record
		WHERE
			userId = #{userId}
			AND `from` IN 
			<foreach collection="friendIdList" item="item" open="(" separator="," close=")" >
				#{item}
			</foreach>
			LIMIT #{limit}
	)
	UNION(
	SELECT
		id,
		userId,
		`from`,
		`type`,
		content,
		createDate,
		lastEditData,
		createUser,
		lastEditUser
	FROM
		msg_record
	WHERE
		userId IN 
		<foreach collection="friendIdList" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
		AND `from` = #{userId} LIMIT #{limit}
	)
	LIMIT #{limit}
  </select>
</mapper>